@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');

body {
  background-color: white;
  padding: 2rem;
  font-family: 'Quattrocento', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*********FILTER*********/
.filters {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
.filters > button {
  font-family: 'Quattrocento', sans-serif;
  margin: 2rem;
  font-size: 2rem;
  background-color: grey;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #d7a150, #d7a150 50%, grey 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.5s;
  border: none;
}

.filters > button:focus {
  outline: none;
}

.filters > h2:hover {
  transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
  background-position: 0%;
  transform: translateY(-3px) scale(1.1);
}
/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 1px solid black;
}

/*******EMPLOYEE CONTAINER*******/
.employee-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
/*******EMPLOYEE*******/
.employee {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(25, 17, 34, 2);
  padding: 1rem;
}

.employee > h2 {
  text-align: center;
}

.employee .employee-info {
  margin-bottom: 1rem;
}
