@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');

body {
  background-image: linear-gradient(to bottom, #173e43, hsl(0, 100%, 18%) 120%);
  padding: 2rem;
  font-family: 'Quattrocento', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
/*********FILTER*********/
.filters {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 2rem;
  cursor: pointer;
  font-size: 2rem;
}
.filter--active {
  border-bottom: 1px solid black;
}

/*******EMPLOYEE CONTAINER*******/
.employee-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
/*******EMPLOYEE*******/
.employee {
  box-shadow: 2px 2px 5px rgba(25, 17, 34, 2);
}

.employee > h2 {
  text-align: center;
  font-size: 2rem;
}

.employee .employee-info {
  margin-bottom: 1rem;
}

/*******Form***********/
.add-employee {
  text-align: center;
  margin-top: 1rem;
}
