@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');

body {
  background-image: linear-gradient(to bottom, #26a69a, #f44336);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em;
  font-family: 'Quattrocento', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
}

/********LOGIN*******/
.Login {
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.Login .login-button {
  margin-top: 2rem;
  font-family: 'Quattrocento', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(25, 17, 34, 2);
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
}

.logout-button {
  font-family: 'Quattrocento', sans-serif;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(25, 17, 34, 2);
  transition: all 0.3s ease-in-out;
}

.logout-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
}

/** VISIBILITY FILTERS **/
.filters {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
.filter {
  padding: 0.3rem 0;
  margin: 0 2rem;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}
.filter--active {
  transform: translateY(-3px) scale(1.2);
  color: #f44336;
  border-bottom: 1px solid #f44336;
}

/*******EMPLOYEE CONTAINER*******/
.employee-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
/*******EMPLOYEE*******/
.employee {
  box-shadow: 2px 2px 5px rgba(25, 17, 34, 2);
  transition: all 0.3s ease-in-out;
}

.employee:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
}

.employee > h2 {
  text-align: center;
  font-size: 2rem;
}

.employee .employee-info {
  margin-bottom: 1rem;
}

/*******FORM***********/
.add-employee {
  text-align: center;
  margin-top: 1rem;
}

.add-edit-employee {
  box-shadow: 2px 2px 5px rgba(25, 17, 34, 2);
  transition: all 0.3s ease-in-out;
}

.add-edit-employee:hover {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
}

/********MOBILE***********/
@media screen and (max-width: 480px) {
  body {
    padding: 2em;
  }
  .Login > h1 {
    font-size: 3rem;
  }

  .Login > h3 {
    font-size: 2rem;
    text-align: center;
  }

  .logout-button {
    height: 2rem;
    line-height: 1rem;
    padding: 0 10px;
    font-weight: normal;
    margin-bottom: 2rem;
  }
  .filters {
    flex-direction: column;
    margin: 2rem;
    margin-bottom: 0;
  }
  .employee-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
